---
import '../styles/global.scss';
---

<footer>
	<p>Edge UI© 2023</p>
	<div class="footer_links">
		<a href="https://discord.com/invite/5stwNU5M">Discord</a>
		<a href="https://github.com/O-Isaac/Edge">GitHub</a>
	</div>
</footer>
